<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/myStyleSheet.css">
    <title> SEBCA - search engine biased color analysis </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <!--<img id= "logo" src='http://svgshare.com/i/14T.svg' title='sebca' /> -->
        <p id="logo"> Sebca </p>
      </div>
    </header>



      <div>
        <p id= "lookuplink" value = ""></p>
      </div>


    <div class="card">
      <label class="searchContent">

      <p class="tag">{{tag}}</p>

        <div id="loop" display="">
          <div class="loading">
            <img id="loading" src="" alt="">
          </div>
          {% for key in dictionary %}
              <div class="color" style="background-color:rgb{{key}};color:white;padding:0px;height:50px;width: calc({{dictionary[key]}}px / {{totalpx}} * 400);"><span class="tooltiptext">RGB {{key}}</span></div>
          {% endfor %}
        </div>
      </label>


      <div class="keyphrase" hidden="true">
        <p id= "phrase" name="phrase"> </p>
      </div>
    </div>


    <div class="inputpannel">

        <form method="post" id="form-img-request" class="inputbox">
            <input name= "phraseinput" type="text" id="phraseinput" placeholder="Enter a Phrase">
            <input type="submit" value="Go!" class="button" onclick="loading()">
        </form>

        <form method="post" class="inputbox" hidden="true">
            <label>
              <input id="tag" type = "text" name="tag">
            </label>
            Enter URL: <input id="urls" type="text" name="urllink">
            <input id = "urlbutton" type="submit" value="Analyze" class="button">
        </form>

    </div>
    <data value=""></data>


    <div class="database">
      <div class="hidecontent">

        {% for y in range(5) %}
        <div class="cardQ">
          <label>

            {% set colorset = queryDict[y] %}
            {% set ttpx = q[y].totalpx %}

              {% for color in colorset %}
                <div class="color" style="background-color:rgb{{color}};color:white;padding:0px;height:50px;width: calc({{colorset[color]}}px / {{ttpx}} * 200);"><span class="tooltiptext">RGB {{color}}</span></div>
              {% endfor %}

          <label>
          <p class="tag"> {{ q[y].tag }} </p>
          <p class="confidence"> confidence: {{ q[y].confidence }} %</p>
        </div>
        {% endfor %}


      </div>

      <div class="show-more">
        <button type="button" name="button"> showmore</button>

      </div>
    </div>




<!---//script------------------------------------------------------------------------------------------------------------->



      <script type="text/javascript">
      var j = {{totalpx}};

      function loading() {
        document.getElementById("loading").src = "https://media.giphy.com/media/xUPGclb8a3UnttmGl2/giphy.gif"
    }

      $(document).ready(function() {
          // register our function as the "callback" to be triggered by the form's submission event
          $("#form-img-request").submit(fetchAndDisplayimg); // in other words, when the form is submitted, fetchAndDisplayGif() will be executed
      });

      function fetchAndDisplayimg(event) {

         // This prevents the form submission from doing what it normally does: send a request (which would cause our page to refresh).
         // Because we will be making our own AJAX request, we dont need to send a normal request and we definitely don't want the page to refresh.
         event.preventDefault();


      var phrase = document.getElementById("phraseinput").value
      var link = ""


      var color = '';
        $('div.color').click(function() {
          console.log("jimmy");
            var x = $(this).css('background-color');
            hexc(x);
            alert(color);
        })

        function hexc(colorval) {
            var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            delete(parts[0]);
            for (var i = 1; i <= 3; ++i) {
                parts[i] = parseInt(parts[i]).toString(16);
                if (parts[i].length == 1) parts[i] = '0' + parts[i];
            }
            color = '#' + parts.join('');
        }

          $(function() {
              var params = {
                q: phrase


              };

              $.ajax({
                  url: "https://api.cognitive.microsoft.com/bing/v5.0/images/search?" + $.param(params) + "&count=9" + "&size=medium",
                  beforeSend: function(xhrObj){
                      // Request headers
                      xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","f9f43a0f451844b88a31eee1bf28ad70");
                  },
                  type: "POST",
                  // Request body
                  data: "{body}",
              })
              .done(function(data) {

                  var links = data.value
                    .map(function(item){return item.contentUrl})
                    .join(" ")
                  console.log(links);

                  //document.getElementById("lookuplink").value = links;
                  //document.getElementById("lookuplink").innerHTML = link; #for testing
                  document.getElementById("urls").value = links;
                  document.getElementById("tag").value = phrase.toUpperCase();
                  document.getElementById("loop").display = "none";
                  loading();
                  document.getElementById("urlbutton").click();

                  document.getElementById("phrase").innerHTML = phrase.toUpperCase();

                  var con = document.getElementById("urls").value;



                  console.log(con);



              })
              .fail(function() {
                  alert("error");
              });
          });

    }
      </script>

  </body>
</html>
